<table>
  <thead>
    <tr>
      <th class="col-md-4"><center><h2>Title</h2></center></th>
      <th class="col-md-4"><center><h2>Author</h2></center></th>
      <th class="col-md-4"><center><h2>Content</h2></center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.author %></td>
        <td><%= markdown(page.content) %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>