<div id="custom-container">

  <div class="col-md-6">
    <h2>Manage pages</h2>
  </div>
  <div class="col-md-6">
    <%= link_to 'New page', new_page_path, class: "btn btn-primary pull-right" %>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.author %></td>
          <td><%= markdown(page.content) %></td>
          <td><%= link_to 'Show', page, class: "btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_page_path(page), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>