<div id="custom-container">

  <div class="col-md-6">
    <h2>Search results</h2>
  </div>
  <div class="col-md-6">
    <%= link_to 'New page', new_page_path, class: "btn btn-primary pull-right" %>
  </div>
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-1">Title</th>
        <th class="col-md-1">Author</th>
        <th class="col-md-7">Content</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
 
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= raw page.title %></td>
          <td><%= raw page.author %></td>
          <td><%= raw page.content %></td>
          <td><%= link_to 'Show', page, class: "btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_page_path(page), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>