<!-- <div align="center"> -->
<div>
  <h3>Send me a message:</h3>

  <%= simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => true, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email, :required => true, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :message %><br>
      <%= f.text_area :message, :as => :text, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!', :class => 'form-control' %>
      </div>
    </div>
    <div class="action">
      <%= f.button :submit, 'Send message', :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
